  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'lembretes' %}" class="brand-link">
      <i class="nav-icon fas fa-lightbulb"></i>
      <span class="brand-text font-weight-light">Lembrei</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-5 pb-5 mb-3 d-flex">
        <div class="image">
          <a class="d-block">
            <i class="nav-icon fas fa-user"></i>
          </a>
        </div>
        <div class="info">
          <a href="{% url 'login' %}" class="d-block">
            {{ request.user.username }} - Logout
          </a>
        </div>
      </div>


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview">
            <a href="{% url 'lembretes' %}" class="nav-link">
              <i class="nav-icon fas fa-list"></i>
              <p>Lembretes</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    
    <!-- /.sidebar -->
  </aside>
  